<div class="container-fluid p-0 dashboard-page">
    <div class="row">
        <div class="col-md-12 col-12">
            <mat-toolbar class="mat-elevation-z3">
                <button mat-icon-button class="menu-icon" aria-label="menu icon" (click)="collapsed.set(!collapsed())">
                    <mat-icon>menu</mat-icon>
                </button>
                <!-- <p>njsnjsnj</p>
                <button mat-raised-button color="primary">Primary Button</button>
                <button mat-raised-button color="accent">Accent Button</button>
                <button mat-raised-button color="warn">Warn Button</button> -->
                <!-- <span><img src="../../../assets/images/webartihc-white-logo.png" alt="webartihc logo" class="logo-img"></span> -->
            </mat-toolbar>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <mat-sidenav-container class="sidebar-container">
                <mat-sidenav mode="side" opened [style.width]="sidenavWidth()">
                    <app-sidebar [collapsed]="collapsed()"></app-sidebar>
                </mat-sidenav>
                <mat-sidenav-content class="content-wrapper"
                    [style.margin-left]="sidenavWidth()">
                    <router-outlet></router-outlet>
                </mat-sidenav-content>
            </mat-sidenav-container>

        </div>

    </div>
</div>