:host *{
    transition: all 500ms ease-in-out;
    overflow: hidden;
}
/* .dashboard-page{

} */
.content-wrapper{
    padding: 24px;
}

.mat-toolbar{
    position: relative;
    z-index: 5;
    padding: 0;
}
mat-sidenav-container{
    height: calc(100vh - 64px);
}
mat-sidenav, mat-sidenav-content{
    transition: all 500ms ease-in-out;
}